@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
.formulario{
    border: 1px solid #1b1d23;
    border-radius: 10px;
    margin: 10px;
    height: 250px;
    background-color: #262a33;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.tittle{
   margin: 10px;
    background-color: #262a33;
   height: 30%;
   width: 80%;
    border-radius: 8px;
    
    border: 1px solid #1b1d23;
    color: #f39c12;
    font-family: 'Roboto', sans-serif;
}
.description{
    border-radius: 8px;
    margin-top: 8%;
    margin-left: 10px;
    position: absolute;
    height: 135px;
    width: 76.5%;
    color: #1ecac6;
    background-color: #262a33;
    border: 1px solid #1b1d23;
    font-family: 'Roboto', sans-serif;
}
.submit{
    margin: 10px;
    height: 90%;
    border-radius: 8px;
    background-color: #262a33;
    color: #d5ced9;
    border: 1px solid #1b1d23;
    
    
    
}

h1{
    color: #1ecac6;
    
}
.taskTitle{
    color: #f10e80;
    
}
.igual{
    color: #ee5d43 !important;
}
.descriptionTask{
    color: #ffe66d;
}
div{
    color: #ee5d43 !important;
    
    
    
}
.content{
    border: 1px solid #1b1d23;
    border-radius: 10px;
    margin: 30px;
    margin-top: 0;
    background-color: #262a33;
    
    width: 230px;
    height: 250px;
    padding: 10px;
    
}
.delete{
    margin: 0;
    padding: 0 !important;
}

.tasks{
    display: flex;
  flex-wrap: wrap;
}

.Btns{
    display: flex;
    justify-content: flex-end;
    margin-right: 8%;
}
@media only screen and (max-width: 800px) {
    .description {
    
        margin-top: 15%;
  
    }
  }
  @media only screen and (max-width: 1100px) {
    .description {
      
        margin-top: 9%;
   
    }
  }
  @media only screen and (max-width: 1024px) {
    .description {
 
        margin-top: 10%;
   
    }
  }
  @media only screen and (max-width: 920px) {
    .description {
  
        margin-top: 11.5%;
     
    }
  }
  @media only screen and (max-width: 810px) {
    .description {
        
        margin-top: 13%;
  
    }
  }
  @media only screen and (max-width: 710px) {
    .description {
       
        margin-top: 15%;
       
    }
  }
  @media only screen and (max-width: 616px) {
    .description {
        
        margin-top: 17.5%;
     
    }
  }
  
@media only screen and (max-width: 500px){
    .description {
        
        border-radius: 8px;
        margin-top: 35%;
        margin-left: 10px;
        margin-right: 0;
        position: absolute;
        height: 100px;
        width: 234px;
      
      }
  }
  @media only screen and (max-width: 500px){
    .tittle {
        margin: 10px;
        background-color: #262a33;
        height: 30%;
        width: 70%;
        border-radius: 8px;
    
        border: 1px solid #1b1d23;
        color: #f39c12;
        font-family: 'Roboto', sans-serif;     
    }
  }
    
